@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Plus Jakarta Sans;
}

a.active {
  color: #f4890a;
}

.hero-swiper .swiper-pagination-bullet {
  background-color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.hero-swiper .swiper-pagination-bullet-active {
  background-color: #fff;
}
